Source: php-apcu-bc
Section: php
Priority: optional
Maintainer: Debian PHP PECL Maintainers <team+php-pecl@tracker.debian.org>
Uploaders: Lior Kaplan <kaplan@debian.org>,
           Ondřej Surý <ondrej@debian.org>
Build-Depends: debhelper (>= 10~),
               dh-php (>= 4~),
               php-all-dev,
               php7.4-apcu, php-apcu-all-dev
Standards-Version: 4.5.1
Vcs-Git: https://salsa.debian.org/php-team/pecl/php-apcu-bc.git
Vcs-Browser: https://salsa.debian.org/php-team/pecl/php-apcu-bc
Homepage: http://pecl.php.net/package/apcu_bc

Package: php-apcu-bc
Architecture: all
Pre-Depends: php-common (>= 2:69~)
Depends: php-apcu,
         ${misc:Depends},
         ${pecl:Depends},
         ${php:Depends},
         ${shlibs:Depends}
Provides: ${pecl:Provides},
          ${php:Provides}
Breaks: ${pecl:Breaks}
Replaces: ${pecl:Replaces}
Suggests: ${pecl:Suggests}
Description: APCu Backwards Compatibility Module
 This module provides a backwards APC compatible API using APCu.
 .
 This is empty package that depends on default PHP version.

Package: php-apcu-bc-all-dev
Architecture: all
Pre-Depends: php-common (>= 2:69~)
Depends: php-apcu,
         ${misc:Depends},
         ${pecl:Depends},
         ${php:Depends},
         ${shlibs:Depends}
Provides: ${pecl:Provides},
          ${php:Provides}
Breaks: ${pecl:Breaks}
Replaces: ${pecl:Replaces}
Suggests: ${pecl:Suggests}
Description: APCu Backwards Compatibility Module
 This module provides a backwards APC compatible API using APCu.
 .
 This is empty package that depends on all PHP versions.

Package: php7.4-apcu-bc
Architecture: any
Pre-Depends: php-common (>= 2:69~)
Depends: php-apcu,
         ${misc:Depends},
         ${pecl:Depends},
         ${php:Depends},
         ${shlibs:Depends}
Provides: ${pecl:Provides},
          ${php:Provides}
Breaks: ${pecl:Breaks}
Replaces: ${pecl:Replaces}
Suggests: ${pecl:Suggests}
Description: APCu Backwards Compatibility Module
 This module provides a backwards APC compatible API using APCu.

