Package: wireguard-kernel-modules
Version: 20220627+rnx1
Architecture: amd64
Maintainer: ReadyNAS Xtras <xtras@readynasxtras.com>
Installed-Size: 536
Depends: linux-image-extra
Section: kernel
Priority: extra
Homepage: https://rnxtras.com
Description: Wireguard Kernel Modules
 Wireguard Kernel Modules add the wireguard kernel modules
 to the ReadyNAS OS.
